body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content takes up at least the height of the viewport */
}

main {
  flex: 1; /* Allow the main content to take up the remaining space */
}



.footer {
  text-transform: capitalize;
  display: flex;
  /* width: 90%;
  margin: 40px auto 0 auto;
  padding-bottom: 40px; */
  justify-content: space-between;
  background-color: hsl(180, 6%, 7%);
  color: white;
  padding: 20px 50px 20px 50px;
  height: 150px;
  /* position: absolute;
   bottom: 0; */
  /* background-color:hsl(180, 6%, 7%) ; */
}

form input {
  padding: 5px;
  border: none;
}

form button {
  padding: 5px;
  background-color: #ea4e3a;
  border: none;
  color: white;
}

.copyright{
  text-align: center;
  margin-right: 50%;
  margin-top: 25px;
}

.socialmedia{
  margin-top: 25px;
}

.socialmedia ul{
  list-style-type: none;
}

.socialmedia li{
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  font-size: 25px;
}

.icon-link{
  color: #ea4e3a;
}

.newsbox{
  position: absolute;
  right: 50px;
  /* padding-bottom: 25px; */
}

.contactBox{
  position: absolute;
  right: 250px;
}