.heading{
    text-align: left;
    margin : 30px 150px;
}

.merchantbox{
    border: solid 2px black;
    background-color: white;
    color: black;
    width: 50%;
    height: 100px;
    /* text-align: center; */
    margin: 10px 50px;
    padding: 10px;
}

.merchantListBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 350px;
}

.search-bar {
    width: 500px;
    padding: 9px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.search-btn {
    padding: 5px;
    width: 200px;
}

.form-close-btn{
    display: inline-block;
    width: 100px;
    background-color: darkred;
}