body {
    color: white;
}
.createAccount{
    text-align: left;
    margin: 50px 500px 50px 500px;
    border : 1px solid #D6D2C4;
    padding: 30px;
    border-radius: 20px;
  }

  .createAccountForm label{
    color: #232dbb;
    font-weight: bold;
  }

  .createAccountForm input{
    width: 90%;
    height: 25px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;  
  }

  .createAccountForm select{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
  }

#exampleCheck1{
    width: 10%;
    transform: scale(1.0);
}

#terms {
    color: #EA4E3A;
}

.terms{
    font-size: 0.8rem;
    padding-left: 5px;
}

.create-acc-btn{
  background-color: #EA4E3A;
  border-radius: 5px;
}

.createAccount button{
  padding: 5px 20px;
  background-color: rgb(2, 91, 192);
}